body {
  background-color: #dfd3c3;
}
.imgTitle {
  display: flex;
}

.AllBookMainContainer {
  margin-top: 2.5rem;
}

.booksMainContainer {
  width: 22rem;
  max-width: 302px;
  flex-direction: column;
  border: 0.5px solid rgb(221, 211, 211);
  -webkit-box-shadow: 2px 2px 15px -5px #000000;
  box-shadow: 2px 2px 15px -5px #000000;
  padding: 0.5rem;
  border-radius: 0.4rem;
  background-color: white;
}

.booksContainerTopHeader {
  display: flex;
}

.booksContainerDescription {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  padding-top: 1em;
}

.NoImage {
  font-size: 8rem;
  width: 10rem;
  border: 0.5px solid grey;
}

.titleAuthor {
  padding-left: 0.8rem;
}

.inputContainerTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.allBooksTitle {
  padding-top: 1.5rem;
}

.formInput {
  display: flex;
  border: 1px solid;
  justify-content: center;
  flex-direction: row;
}

.allBooksContainer {
  /* width: 100%; */
}

.searchInputButton {
  display: flex;
  /* flex-wrap: wrap; */
}

.searchInput {
  width: 54.5vw;
  height: 2.5rem;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.searchButton {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 5rem;
  font-size: 1;
}

.booksMainContainer {
  width: 22rem;
  max-width: 324px;
  flex-direction: column;
  border: 0.5px solid rgb(221, 211, 211);
  -webkit-box-shadow: 2px 2px 15px -5px #000000;
  box-shadow: 2px 2px 15px -5px #000000;
  padding: 0.5rem;
  border-radius: 0.4rem;
  background-color: white;
}

.testing {
  padding-top: 1.5rem;
  display: flex;
  gap: 2rem;
  align-content: center;
  margin-right: 7;
}

.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .booksMainContainer {
    width: 29rem;
    max-width: 502px;
    flex-direction: column;
    border: 0.5px solid rgb(221, 211, 211);
    -webkit-box-shadow: 2px 2px 15px -5px #000000;
    box-shadow: 2px 2px 15px -5px #000000;
    padding: 0.5rem;
    border-radius: 0.4rem;
    background-color: white;
    margin-left: 15px;
  }

  .searchInput {
    margin-left: 15px;
  }
}
