.booksContainer {
  border: 1px solid black;
  width: 30%;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.imgTitle {
  display: flex;
}
/* // ` https://www.googleapis.com/books/v1/volumes/${looking}?key=AIzaSyBh9DIgP1FAmJ0ufiaxLXCxtL6PJSZdaCA` */
